PORT=4000
DATABASE_URL="postgresql://criterium_user:sua_senha_segura_aqui@localhost:5432/criterium_db?schema=public"
JWT_SECRET="seu_jwt_secret_super_seguro_aqui_2026"
NODE_ENV="production"

# Configurações de E-mail de Boas-Vindas
# Deixe em branco se desejar que o Nodemailer entregue diretamente no MX do destinatário sem SMTP externo
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
EMAIL_FROM="Criterium Eleições 2026 <no-reply@criterium.app>"
